html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.footer, .header{
    background-color: rgb(2, 2, 97);
}
.navbar{
    display: flex;
    padding: 16px;

}

.navbar div{
    color:#E5E7EB ;
    font-size: 18px;
    justify-items: center;
    margin:0 9px 0 9px;
    
}
.navbar .logo{
    color:#F9FAF8 ;
    font-size: 24px;
    flex:1;

}
.awesome{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: bold;
    font-weight:bold;
}
p{
    color:#E5E7EB ;
    font-size: 18px;
    margin-top: 0;
}
.section{
    display: flex;
    justify-content: space-around;
    padding: 16px;
}
.subsection01{
    display: flex;
    flex-direction: column;
    width: 300px;

    
}
.subsection01 div{
    justify-items: flex-start;
}
#header-btn{
    background-color: #3882f6;
    color:white;
    border-radius: 10px;
    padding: 10px;
}
.subsection02{
    display: flex;
    color:#E5E7EB ;
    background-color: grey;
    justify-content: center;
    align-items: center;
    width:400px;
    height: 200px;
    text-align: center;
}
.items{
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 13px;
}
.item{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
}
.im{
    width: 200px;
    height: 200px;
    border:solid #3882f6;
    border-radius: 10px;
}
.header-item{
    font-size:36;
    font-weight: bold;
    color:#1F2937;
    text-align: center;
}
@media (max-width:870px) {
    .items{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 0;
        padding: 20px;
    }
    .awesome{
        
        font-size: larger;
        
    }
    p{
        color:#E5E7EB ;
        font-size:medium;
        margin-top: 0;
    }
    .subsection02{
        width: auto;
        height: 200px;
    }
    .header-item{
        font-size: larger;
        text-align: center;
    }
}

.quotesection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
  
}
.q-section{
    font-size:large;
    lighting-color: #1F2937;
    padding: 20px;
    width: 500px;
}
.q-section h4{
    font-weight: bold;
    text-align: end;
}
.call{
    font-weight: bold;
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 70px;
    gap: 6px;
    background-color: #3882f6;
}
.call-action{
    display: flex;
    flex-direction: column;
   
}
#footer-button{
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px;
    margin-left: auto;
    
}
.footer-item{
    text-align: center;
    padding: 13px;
    color: lightgray;
}
